.active_item {
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-left: 3px solid #2dcd73!important;
    border: 1px solid #e6e6e6;
    color: #3c3c3c;
    font-family: OpenSansBold;
    font-size: 14px;
    margin-bottom: 10px;
}

.active_item a,
.inactive_item a {
    font-size: 11px;
    color: #ff530a;
    text-decoration: underline;
}

.inactive_item {
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    background-color: #fafafa;
    border-left: 3px solid #f0aaa5!important;
    border: 1px solid #ebebeb;
    color: #3c3c3c;
    font-family: OpenSansBold;
    font-size: 14px;
    margin-bottom: 10px;
}

.links {
    padding: 30px 10.83vw 10px 10.83vw;
}

.links a {
    color: #ff530a;
    text-decoration: underline;
    font-size: 13px;
    font-family: OpenSansBold;
    line-height: 1.54;
}

.more_results {
    margin-top: 20px;
    padding: 0 18.33vw 30px 18.33vw;
}

.more_results h1 {
    font-family: OpenSansBold;
    font-size: 25px;
    line-height: 1.4;
    color: #3c3c3c;
    margin: 0 0 20px 10px;
}