<app-searchsection></app-searchsection>
<div class="content_section">
        <div class="links">
            <a (click)="previous()"><i *ngIf="currentIndex > 0" class="fa fa-chevron-left"></i> {{keywords[currentIndex-1]}}</a>
            <a (click)="next()" class="pull-right">{{keywords[currentIndex+1]}} <i *ngIf="currentIndex < keywords.length-1" class="fa fa-chevron-right"></i></a>
        </div>
        <div class="more_results">
            <h1>{{keywords[currentIndex]}}</h1>
            <div *ngIf="data.keyword!=''">
                <div *ngFor="let ext of data.exts"  [ngClass]="{'active_item':ext.value,'inactive_item':!ext.value}">
                        {{data.domainKeyword + ext.name}}
                        <a href="#" class="pull-right">BUY NOW</a>
                </div>
            </div>
        </div>
    </div>