<div class="footer text-center">
    <a href="#">Blog</a>
    <a href="#">Terms of Use</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Affiliate Disclaimer</a>
    <a href="#">Contacts</a>
</div>