<app-mainsearch></app-mainsearch>
<div class="content">
    <div class="content_container row">
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/high-quality-icons.svg" alt="">
            <h4>High-Quality Domains</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/easy-icon.svg" alt="">
            <h4>Easy to Remember</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/seo-icon.svg" alt="">
            <h4>SEO-Friendly</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/fee-icon.svg" alt="">
            <h4>Regular Registration Fee</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/safety-icon.svg" alt="">
            <h4>Full Safety</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/free-icon.svg" alt="">
            <h4>100% Free to Use</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</h6>
        </div>
    </div>
</div>