<div class="header">
    <h1 class="title">Domain<span>Author</span></h1>
    <h3 class="sub_title">Finding a domain has never been so easy</h3>
    <div class="input-group search_form">
        <div class="form-group  has-feedback">
            <input type="text" class="form-control" [(ngModel)]="keyword" id="inputSuccess5" placeholder="Type a domain or keyword">
        </div>
        <span class="input-group-btn">
            <button (click)="search()" class="btn" type="button"><img src="./assets/images/search-icon.svg" alt="">Search</button>
        </span>
    </div>
    <div class="header_setting">
        <img src="./assets/images/settings-icon.svg" alt="">
        <a (click)="openSettingDialog()">Settings</a>
        <span>Please do not infringe any trademarks with this tool</span>
    </div>
    <div class="header_img">
        <img src="./assets/images/com_desk.png" alt="">
    </div>
</div>