 @font-face {
     font-family: OpenSansExtraBold;
     src: url(font/OpenSans-ExtraBold.ttf);
 }
 
 @font-face {
     font-family: OpenSansLight;
     src: url(font/OpenSans-Light.ttf);
 }
 
 @font-face {
     font-family: OpenSansBold;
     src: url(font/OpenSans-Bold.ttf);
 }
 
 @font-face {
     font-family: OpenSansRegular;
     src: url(font/OpenSans-Regular.ttf);
 }
 
 @font-face {
     font-family: OpenSansSemiBold;
     src: url(font/OpenSans-SemiBold.ttf);
 }
 
 .title {
     font-family: OpenSansExtraBold;
     font-size: 70px;
     line-height: 0.93;
     text-align: center;
     color: #fb3f0d;
     margin: 170px 0 30px 0;
 }
 
 .title span {
     color: #fd7d2b;
 }
 
 .sub_title {
     font-family: OpenSansLight;
     font-size: 22px;
     line-height: 1.36;
     text-align: center;
     color: #828282;
     margin: 0 0 45px 0;
 }
 
 .search_form {
     width: 780px;
     margin: 0 auto;
 }
 
 .search_form input {
     height: 60px;
     line-height: 60px;
     font-family: OpenSansBold;
     font-size: 16px;
     width: 620px!important;
     border-radius: 3px!important;
     border: 2px solid #bebebe;
 }
 
 .search_form input::-webkit-input-placeholder {
     color: #b4b4b4;
 }
 
 .search_form input::-moz-placeholder {
     color: #b4b4b4;
 }
 
 .search_form input:-ms-input-placeholder {
     color: #b4b4b4;
 }
 
 .search_form input:-moz-placeholder {
     color: #b4b4b4;
 }
 
 .search_form button {
     width: 140px;
     height: 60px;
     border-radius: 3px;
     background-color: #ff520a;
     color: #fff;
     font-family: OpenSansBold;
     font-size: 18px;
 }
 
 .search_form button:hover,
 .search_form button:focus {
     color: #fff;
     outline: none;
 }
 
 .search_form button img {
     margin-right: 10px;
 }
 
 .header_setting {
     width: 780px;
     margin: 25px auto 0 auto;
 }
 
 .header_setting img {
     margin: -5px 8px 0 0;
 }
 
 .header_setting a {
     text-decoration: underline;
     color: #ff530a;
     font-size: 16px;
     font-family: OpenSansBold;
     padding-right: 25px;
     border-right: 1px solid #e6e6e6;
 }
 
 .header_setting span {
     padding-left: 25px;
     font-size: 12px;
     color: #b4b4b4;
     font-family: OpenSansRegular;
 }
 
 .header_img {
     text-align: center;
     padding-top: 95px;
 }
 
 .content {
     background: #f5f5f5;
     padding: 80px 0 40px 0;
     margin-top: -5px;
 }
 
 .content_container {
     width: 1000px;
     margin: 0 auto;
 }
 
 @media screen and (max-width: 1000px) {
     .content_container {
         width: 100%;
     }
 }
 
 .content_info img {
     margin-bottom: 25px;
 }
 
 .content_info h4 {
     margin: 0 0 25px 0;
     font-family: OpenSansSemiBold;
     color: #3c3c3c;
     line-height: 1.25;
     font-size: 20px;
 }
 
 .content_info h6 {
     width: 260px;
     margin: 0 auto;
     font-family: OpenSansRegular;
     color: #3c3c3c;
     line-height: 1.79;
     font-size: 14px;
 }
 
 .content_info {
     padding-bottom: 40px;
 }
 
 .footer {
     height: 55px;
     line-height: 55px;
     background: #ff9137;
 }
 
 .footer a {
     color: #fff;
     text-decoration: underline;
     padding: 0 35px;
     font-family: OpenSansRegular;
     font-size: 14px;
 }
 /*Responsive CSS*/
 
 @media screen and (max-width: 800px) {
     .search_form,
     .header_setting {
         width: 500px;
     }
     .search_form input {
         width: 340px!important;
     }
 }
 
 @media screen and (max-width: 768px) {
     .footer a {
         padding: 0 15px;
     }
 }
 
 @media screen and (max-width: 570px) {
     .footer a {
         padding: 0 5px;
     }
     .title {
         font-size: 50px;
     }
     .search_form,
     .header_setting {
         width: 310px;
     }
     .search_form input {
         width: 200px!important;
     }
     .search_form button {
         width: 100px;
         font-size: 14px;
     }
     .search_form button img {
         width: 18px;
     }
     .header_setting img {
         margin: 0;
         width: 16px;
     }
     .header_setting a {
         font-size: 12px;
         padding-right: 3px;
     }
     .header_setting span {
         padding-left: 3px;
         font-size: 9px;
     }
 }
 
 @media screen and (max-width: 470px) {
     .footer a {
         font-size: 10px;
         padding: 0 2px;
     }
     .title {
         font-size: 40px;
     }
     .header_img img {
         width: 310px;
     }
 }
 /*==============Search Result Page CSS===============*/
 
 .title.search_title {
     font-size: 35px;
     margin: 40px 0;
 }
 
 .social_link {
     position: absolute;
     top: 75px;
 }
 
 .social_link a {
     display: block;
     margin-bottom: 15px;
     color: #fff;
     width: 80px;
     height: 30px;
     line-height: 30px;
     padding-left: 12px;
     font-size: 11px;
     font-family: OpenSansBold;
 }
 
 .social_link a i {
     padding-right: 14px;
     font-size: 14px;
 }
 
 .social_link a .fa-twitter {
     padding-right: 10px!important;
 }
 
 .social_link .like_link {
     background-image: url(../image/share-btn.png);
 }
 
 .social_link .tweet_link {
     background-image: url(../image/tweet-btn.png);
 }
 
 .search_setting.search_setting {
     margin-bottom: 38px;
 }
 
 .search_result_container {
     padding: 60px 11.66vw 0 11.66vw;
     background-color: #f5f5f5;
 }
 
 .accordion-heading {
     padding-bottom: 20px;
     border-bottom: 1px solid #d8d8d8;
 }
 
 .accordion-toggle {
     font-family: OpenSansBold;
     font-size: 25px;
     line-height: 1.4;
     color: #3c3c3c!important;
     text-decoration: none!important;
 }
 
 .accordion-toggle:after {
     font-family: 'FontAwesome';
     content: "\f078";
     font-size: 18px!important;
     margin-top: 10px;
     float: right;
     color: #979797!important;
 }
 
 .accordion-toggle.collapsed:after {
     content: "\f054";
     font-size: 18px!important;
     margin-top: 10px;
     color: #979797!important;
 }
 
 .active_item {
     padding: 0 20px;
     height: 60px;
     line-height: 60px;
     background-color: #fff;
     border-left: 3px solid #2dcd73!important;
     border: 1px solid #e6e6e6;
     color: #3c3c3c;
     font-family: OpenSansBold;
     font-size: 14px;
     margin-bottom: 10px;
 }
 
 .active_item a,
 .inactive_item a {
     font-size: 11px;
     color: #ff530a;
     text-decoration: underline;
 }
 
 .inactive_item {
     padding: 0 20px;
     height: 60px;
     line-height: 60px;
     background-color: #fafafa;
     border-left: 3px solid #f0aaa5!important;
     border: 1px solid #ebebeb;
     color: #3c3c3c;
     font-family: OpenSansBold;
     font-size: 14px;
     margin-bottom: 10px;
 }
 
 .no_result {
     height: 690px;
     background-color: #fff;
     border: 1px solid #ebebeb;
     padding-top: 30px;
 }
 
 .no_result_txt {
     width: 180px;
     height: 80px;
     line-height: 80px;
     margin: 0 auto 20px auto;
     border-bottom: 1px solid #dcdcdc;
     font-size: 30px;
     font-family: OpenSansRegular;
 }
 
 .no_result_help {
     width: 180px;
     margin: 0 auto;
     color: #3c3c3c;
     font-family: OpenSansBold;
 }
 
 .no_result_help a {
     color: #fc3b0d;
     text-decoration: underline;
 }
 
 .search_result_container.row {
     margin: 0;
 }
 
 .search_result_container .col-sm-4 {
     padding: 0 20px;
 }
 
 .content_section {
     background: #f5f5f5;
     min-height: 70vh;
     padding-bottom: 60px;
 }
 
 .more_results {
     margin-top: 20px;
 }
 
 .more_results a {
     color: #ff530a;
     text-decoration: underline;
     font-size: 13px;
     font-family: OpenSansBold;
 }
 /*=============More results pate CSS===============*/
 
 .links {
     padding: 30px 10.83vw 10px 10.83vw;
 }
 
 .links a {
     color: #ff530a;
     text-decoration: underline;
     font-size: 13px;
     font-family: OpenSansBold;
     line-height: 1.54;
 }
 
 .more_results {
     padding: 0 18.33vw 30px 18.33vw;
 }
 
 .more_results h1 {
     font-family: OpenSansBold;
     font-size: 25px;
     line-height: 1.4;
     color: #3c3c3c;
     margin: 0 0 20px 10px;
 }