.title.search_title {
    font-size: 35px;
    margin: 40px 0;
}

.social_link {
    position: absolute;
    top: 75px;
    z-index:1000;
}

.social_link a {
    display: block;
    margin-bottom: 15px;
    color: #fff;
    width: 80px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    font-size: 11px;
    font-family: OpenSansBold;
    margin-left:-65px;
    
}
.social_link a:hover{
    margin-left:0;
}

.social_link a i {
    padding-right: 14px;
    font-size: 14px;
}

.social_link a .fa-twitter {
    padding-right: 10px!important;
}

.social_link .like_link {
    background-image: url(../../assets/images/share-btn.png);
}

.social_link .tweet_link {
    background-image: url(../../assets/images/tweet-btn.png);
}
.search_setting.search_setting {
    margin-bottom: 38px;
}
