<div class="header">
    <h1 class="title search_title">Domain<span>Author</span></h1>
    <div class="input-group search_form">
        <div class="form-group  has-feedback">
            <input type="text" class="form-control" id="inputSuccess5" [(ngModel)]="keyword" placeholder="Type a domain or keyword">
        </div>
        <span class="input-group-btn">
            <button (click)="search()" class="btn" type="button"><img src="./assets/images/search-icon.svg" alt="">Search</button>
        </span>
    </div>
    <div class="header_setting search_setting">
        <img src="./assets/images/settings-icon.svg" alt="">
        <a (click)="openSettingDialog()">Settings</a>
        <span>Please do not infringe any trademarks with this tool</span>
    </div>
    <div class="social_link">
        <a href="#" class="like_link"><i class="fa fa-facebook"></i>Like</a>
        <a href="#" class="like_link"><i class="fa fa-facebook"></i>Share</a>
        <a href="#" class="tweet_link"><i class="fa fa-twitter"></i>Tweet</a>
    </div>
</div>