<div class="header">
    <button class="close-btn" (click)="Cancel()" [md-dialog-close]="true">&times;</button>
    <h1 md-dialog-title>Settings</h1>
</div>
<md-dialog-content>
    <md-select [(ngModel)]="selectedValue" name="services">
        <md-option *ngFor="let service of services" [value]="service">
            {{service}}
        </md-option>
    </md-select>
    <section class="exts-check-section">
        <md-checkbox *ngFor="let ext of exts" [(ngModel)]="ext.value">{{ext.name}}</md-checkbox>
    </section>
    <div class="add-more">
        <a (click)="addmore()">ADD MORE <i *ngIf="!addmore_show" class="chevron-arrow fa fa-chevron-right" aria-hidden="true"></i><i *ngIf="addmore_show" class="chevron-arrow fa fa-chevron-down" aria-hidden="true"></i></a>
        <input *ngIf="addmore_show" (keyup.enter)="onEnter()" [(ngModel)]="newExt" [className]="validate" placeholder="Type in the extensions you want">
    </div>
    <hr>
    <section class="hypens">
    <md-checkbox [(ngModel)]="hypens">Use Hypens (-)</md-checkbox>
    </section>
</md-dialog-content>
<div class="btn-section">
    <button class="btn btn-warning apply-btn" [md-dialog-close]="true" (click)="ApplySuccess()">Apply</button>
</div>