.header{
    height:85px;
}
.exts-check-section{
    margin-top:10px;
}
.apply-btn{
    width:140px;
    height:50px;
    text-align:center;
    align-self: center;
    border-radius:3px;
    font-size:14px;
    font-family:OpenSansBold;
    background-color:#ff9137;
}
.btn-section{
    height:110px;
    padding-top:30px;
    text-align: center;
}
hr{
    width:460px;
    margin-left:-30px;
    border-top: 1px solid #e6e6e6;
}
.add-more{
    margin-top:30px;
    margin-bottom:30px;
}
.add-more a{
    color:#ff530a;
    font-size:13px;
    font-family:OpenSansBold;
    text-decoration:underline;
}
.chevron-arrow {
    margin-left:10px;
}
.more-input{
    height:50px;
    margin-top:15px;
    border:2px solid #bebebe;
    font-size:14px;
    font-family:OpenSansBold;
    color:#3c3c3c;
}
.error{
    border:1px solid #e80c4d!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,175,233,.6)!important;
}
