<app-searchsection></app-searchsection>
<div class="content_section">
    <div class="search_result_container row">
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Website</a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <a *ngFor="let ext of data.exts;let i=index" href="#" class="domain-item">
                                <div *ngIf="i<10 && data.keyword!=''"  [ngClass]="{'active_item':ext.value,'inactive_item':!ext.value}">
                                        {{data.domainKeyword + ext.name}}
                                        <a href="#" class="pull-right">BUY NOW</a>
                                </div>
                            </a>
                            <!--More result-->
                            <div *ngIf="data.exts.length>10" class="more_results text-center">
                                <a routerLink="/more">MORE RESULTS <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!--More result-->
                        </div>
                        <!--10 Accordion inner end-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Business</a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <a *ngFor="let ext of data.exts;let i=index" href="#" class="domain-item">
                                <div *ngIf="i<10 && data.keyword!=''"  [ngClass]="{'active_item':ext.value,'inactive_item':!ext.value}">
                                        {{data.domainKeyword + ext.name}}
                                        <a href="#" class="pull-right">BUY NOW</a>
                                </div>
                            </a>
                            <!--More result-->
                            <div *ngIf="data.exts.length>10" class="more_results text-center">
                                <a routerLink="/more">MORE RESULTS <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!--More result-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Shop</a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="no_result text-center">
                                <p class="no_result_txt">No results</p>
                                <p class="no_result_help"> Please try a new keyword or change the <a (click)="openSettingDialog()">Settings</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search_result_container row">
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">eBook</a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <!--More result-->
                            <div class="more_results text-center">
                                <a href="#">MORE RESULTS <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!--More result-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Software</a>
                    </div>
                    <div id="collapseFive" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <!--More result-->
                            <div class="more_results text-center">
                                <a href="#">MORE RESULTS <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!--More result-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">App</a>
                    </div>
                    <div id="collapseSix" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <!--More result-->
                            <div class="more_results text-center">
                                <a href="#">MORE RESULTS <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!--More result-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search_result_container row">
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">News</a>
                    </div>
                    <div id="collapseSeven" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">Community</a>
                    </div>
                    <div id="collapseEight" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">Video</a>
                    </div>
                    <div id="collapseNine" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search_result_container row">
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">Marketplace</a>
                    </div>
                    <div id="collapseTen" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">Deals</a>
                    </div>
                    <div id="collapseEleven" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwelve">Reviews</a>
                    </div>
                    <div id="collapseTwelve" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                            <div class="active_item">
                                MyNewWebsite.com
                                <a href="#" class="pull-right">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>